[Unit]
Description=BadVPN UDP Gateway Port %I
After=network.target

[Service]
ExecStart=/usr/local/bin/badvpn-udpgw --listen-addr 0.0.0.0:%I --max-clients 1000 --max-connections-for-client 100
Restart=always

[Install]
WantedBy=multi-user.target
