[Unit]
Description=MUB-X UDP Custom (ZivPN Core)
After=network.target

[Service]
User=root
Type=simple
ExecStart=/usr/local/bin/udp-custom server -exclude 53,5300,2200,4433,7300,51820
WorkingDirectory=/etc/udp-custom/
Restart=always
RestartSec=2s
LimitNOFILE=65535

[Install]
WantedBy=default.target
